<div class="subhead">
<h3>Admin Dashboard</h3>
</div>

<div class="body">
  <div class="subhead">
    <div class="links">
      <h3>Links</h3>
    </div>
  </div>
  <h4><%= link_to "Merchants", "/admin/merchants" %></h4>
  <h4><%= link_to "Invoices", "/admin/invoices" %></h4>

  <%= render partial: 'layouts/topfive' %>

  <section class="Incomplete Invoices">
    <div class="subhead">
      <h3>Incomplete Invoices</h3>
    </div>  
    <%= link_to "Sort A-Z", "/admin?sort=alphabetical" %>
    <%= link_to "Sort By Most Recent", "/admin?sort=date" %>
    <% @invoices.incomplete_by_creation_date.each do |invoice| %>
      <li>ID: <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %>: Created <%= invoice.creation_date %></li>
    <% end %>
  </section>

</div>
