<div class="subhead">
  <h1>Admin Merchants Index</h1>
</div>

<div class="body">
  <%= link_to "Create a new merchant", new_admin_merchant_path %>

  <%= render partial: 'enabled' %>
  <%= render partial: 'disabled' %>
  <%= render partial: 'topfive' %>

  <%= link_to "Sort A-Z", "/admin/merchants?sort=alphabetical" %>
  <%= link_to "Sort By Most Recent", "/admin/merchants?sort=date" %>
</div>