<div class="subhead">
  <h1><%= @merchant.name %></h1>
</div>

<div class="body">
  <section id="ready_to_ship">
    <div class="subhead">
      <h3>Items Ready To Ship</h3>
    </div>
    <% @items.select { |item| item.packaged }.each do |item| %>
      <p>
        <%= item.name %>
        <%= link_to "Invoice #{item.invoice_id}", "/merchants/#{item.merchant_id}/invoices/#{item.invoice_id}" %>
        Creation Date: <%= item.invoice_date %>
      </p>
    <% end %>
  </section>

  <p><%= link_to "Items", "/merchants/#{@merchant.id}/items" %></p>
  <p><%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %></p>

  <%= render partial: 'layouts/topfive' %>
</div>