<h1><%= "#{@merchant.name}'s Discounts" %></h1>
<p><%= link_to "Create a new discount", new_merchant_discount_path(@merchant.id) %></p>
<br>
<% @discounts.each do |discount|%>
  <section id=<%="idx-#{discount.id}"%>>
    <%= link_to "#{discount.discount.to_i}% off #{(discount.qty).to_i} items", merchant_discount_path(merchant_id: @merchant.id, id: discount.id), method: :get %>
    <%= button_to "Delete", merchant_discount_path(merchant_id: @merchant.id, id: discount.id), method: :delete %>
  </section>
  <br>
<% end %>
