<!DOCTYPE html>
<html>
  <head>
  <div class="header">
    <h1>Little Etsy Shop</h1>
  </div>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

  <style>
    .header {
      font-family: "Harrington", cursive;

      background-color: #D1874E;
      padding: 20px;
      text-align: center;
    }
    .subhead {
      font-family: Helvetica;
      background-color: #D1874E;
      padding: 5px;
    }

    .body {
      font-family: Helvetica;
      background-color: #F1E4CF;
      padding: 20px;
    }
  
  </style>

    
    <%= yield %>
  </body>
</html>
