<!DOCTYPE html>
<html>
  <head>
  <%= render partial: 'layouts/header' %>

    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

  <style>
    .subhead {
      font-family: Helvetica;
      background-color: #BF763E;
      padding: 2px;
    }

    .body {
      font-family: Helvetica;
      background-color: #F1E4CF;
      padding: 20px;
      padding-bottom: 100px;
    }
  
  </style>

    
    <%= yield %>
  </body>
  <%= render partial: 'layouts/footer' %>
</html>
